ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.container{
    background-color: #F8F8F8;
}

.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}

.rightbar{
    display: flex;
    justify-content: space-between;
}
.rightbar > li{
    margin: 0px 15px;
    color: black;
    position: relative;
    transform: all 0.3s ease;
}
.rightbar > li:hover{
    color: #ACC964;
    cursor: pointer;
}

.moneyDrop{
    margin: 0px;
    padding: 10px 20px 20px 15px;
    position: absolute;
    background-color: #ffffff;
    display: none;
    transition: all 0.3s ease-in-out;
}

.countryDrop{
    margin: 0px;
    padding: 10px 20px 20px 15px;
    position: absolute;
    background-color: #ffffff;
    display: none;
    transition: all 0.3s ease-in-out;
}


.rightbar > li:nth-child(1):hover .moneyDrop{
    color: black;
    display: block;
    box-shadow: -7px -4px 43px -23px rgba(0,0,0,0.69);
}

.rightbar > li:nth-child(2):hover .countryDrop{
    color: black;
    display: block;
    box-shadow: -7px -4px 43px -23px rgba(0,0,0,0.69);
}