.heading{
    color: red;
}
.header-category{
    box-sizing: border-box;
    padding-top: 15px;
    padding-bottom: 15px;
}

.category{
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
    cursor: pointer;
    box-sizing: border-box;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    transition: 0.3s all ease-in-out;
    z-index: 888;
}

.category span{
    font-size: 16px;
    padding-left: 15px;
}
.category .icon-bar{
    font-size: 20px;
}
.category .icon-times{
    display: none;
    font-size: 20px;
}

.category:hover{
    background-color: #C7DB96;
    color: #ffffff;
}
.category:hover > .icon-bar{
    display: none;
}
.category:hover > .icon-times{
    display: block;
}
.category ul{
    position: absolute;
    background-color: #ffffff;
    top: 21px;
    left: 0;
    width: 100%;
    margin-top: 35px;
    padding: 0px;
    box-shadow: -7px -4px 43px -23px rgba(0,0,0,0.69);
    display: none;
}
.category:hover > ul{
    display: block;
}
.category ul > li{
    padding: 9px 19px 9px 19px;
    border: 1px solid rgba(212, 209, 209, 0.431);
    border-top: none;
    color: #595a5a;
    width: 100%;
    display: block;
    transition: 0.3s all ease-in-out;
}

.category ul > li:hover{
    color: #C7DB96;
    cursor: pointer;
}

.dasktop-menu{
    display: grid;
    grid-template-columns: 26% 64% 20%;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

nav > ul {
    display: flex;
    justify-content: start;
    align-items: center;
}

nav > ul > li{
    padding: 16px 30px 16px 10px;
    margin-left: 7px;
    transition: all .5s step-start;
    font-size: 14px;
    position: static;
}

nav > ul > li:hover{
    color: #bbd873;
    border-top: 1px solid #bbd873;
    cursor: pointer;
}

nav > ul > li:nth-child(3):hover .mega-menu{
    visibility: visible;
    opacity: 1;
}

.mega-menu{
    position: absolute;
    margin-top: 15px;
    color: black;
    width: 55%;
    background-color: #ffffff;
    visibility: hidden;
    opacity: 0;
}

.mega-menu p{
    font-size: 22px;
    margin: 0px;
}
.mega-menu > div > div:first-child{
    padding: 1px 31px 17px 31px;
}
.mega-menu ul > li{
    font-size: 15px;
    color: gray;
    padding: 5px;
}
/* 
nav > ul > li:first-child{
    margin-left: 0px;
} */

/* .mega-menu{
    position: absolute;
}

.mega-menu{
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    padding: 15px;
} */

@media screen and (max-width: 992px) {
    
    .dasktop-menu{
            display: none;
    }

}
