.grid-con{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 20px 10px;
}

.product-body > .product-cat{
    
    color: #777;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.2;
    letter-spacing: -.01em;
    margin-bottom: 0.3rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.product-body > .product-cat:hover{
    color: #ACC964;
    cursor: pointer;
}

.product-body > h4{
    color: rgb(19, 18, 18);
    font-size: 18px;
    font-weight: 500;
}

.product-body > h4:hover{
    color: #ACC964;
    cursor: pointer;
}

.icon{
    padding: 6px;
    background-color: #ffffff;
    border-radius: 50%;
    margin-top: 5px;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-30px);
    opacity: 0;
}

.icon:hover{
    background-color: #ACC964;
    cursor: pointer;
    color: #ffffff;
}

.cart-btn{
    transition: all 0.3s ease-in-out;
    transform: translateY(30px);
    opacity: 0;
}

.product img{
    cursor: pointer;
}

.product:hover .cart-btn{
    transform: translateY(0px);
    opacity: 1;
}

.product:hover .icon{
    transform: translateX(0px);
    opacity: 1;
}

@media screen and (max-width: 992px) {
    .grid-con{
        grid-template-columns: repeat(2,1fr);
        grid-gap: 15px 10px;
    }
}