.icon:hover{
    color: #acc964;
    cursor: pointer;
}
.iconSearch:hover{
    color: #acc964;
    cursor: pointer;
}
.icon{
    margin: 0px 10px -2px 5px;
    transition: all 0.3s ease-in-out;
}
.icon > i{
    font-size: 22px;
}

.mobileMenuBtn{
    color: rgb(0, 0, 0);
    margin-right: 11px;
    visibility: hidden;
}

.searchWrapper{
    flex-basis: 550px;
}

.icon + p{
    font-size: 11px;
}

.rightItem{
    flex-basis: 180px;
    justify-content: space-between;
    align-items: center;
}

/* mobile menu */
@media screen and (max-width: 992px) {
    
    .mobileMenuBtn{
        visibility: visible;
    }

    .searchWrapper{
        display: none;
    }

}